= simple_form_for(@job, html: { class: ""}) do |f|
  = f.input :title, label: "Job Title"
  = f.input :description, label: "Job Description"
  = f.input :company, label: "Company name"
  = f.input :url, label: "Job Posting URL"
  %br/
  = f.button :submit
